body {
	position: absolute;
	background-color: white;
	height:1400px;
	width: 1640px;

}

.nav {
background-color: white;
	width: 100%;
	height: 300px;
	color: black;
	display: block;
	position: absolute;
	z-index: 1;
	

	
}
.main {
	margin-top: 30px;

}

.logo {
	width: 400px;
	height: 150px;
	margin-bottom: 70px;
}

.menu {
display: inline;	

}

div a {
	float: left;
	margin-left: 3%;
	margin-right: 3%;
}

a {
	color: #996633;
	margin-left: 50px;
	font-size: 36px;
	
}
.wodospad {
	width: 1640px;
	height: 700px;
}

.div2 p {
	font-family: sans-sherif;
	font-size: 20px;
	text-align: justify;
	margin-left: 200px;
	margin-right: 200px;

}

.stopka {
	background-color: #996633;
	width: 1640px;
	height: 200px;
	position: relative;
	top: 50px;

}

.kontakt {
	font-size: 25px;
	font-family: sans-sherif;
	color: white;
	padding: 30px;
	float: left;
}

.menustopka {
	font-size: 25px;
	font-family: sans-sherif;
	color: white;
	padding: 30px;
	float: left;
	margin-left: 300px;
	margin-bottom: 20px; 
}












 